* body{
    background-color: beige;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.box-one
{
    color: midnightblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;



}
.box-two h1
{
    color: red;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


}
.box-two
{
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}